/*----------------------------------------------------------------------------*/
/*  COLORS                                                                    */
/*----------------------------------------------------------------------------*/
$primary: #5C62C5;
$white: white;


/*----------------------------------------------------------------------------*/
/*  FULL SCREEN                                                               */
/*----------------------------------------------------------------------------*/
html, body {
    margin: 0;
}

/*----------------------------------------------------------------------------*/
/*  LOADER                                                                    */
/*----------------------------------------------------------------------------*/

.loading__container {
    align-items: center;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.loading__title {
    color: $white;
}

.loading__loader {
    animation-duration: 2s;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 10px solid $white;
    border-radius: 50%;
    border-top: inherit solid darken($color: $primary, $amount: 20);
    margin: 10px;
    height: 70px;
    width: 70px;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}